<div class="card">
    <div class="card-body">
        <div>
            <img class="card-img-top" src='{{data.img}}' alt="Card image cap">

            <h5 class="card-title">{{data.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">price:{{data.price}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">in stock:{{data.quanlity}}</h6>
            <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
            <p class="card-text">{{data.description}}</p>
        </div>


    </div>
</div>
